/target
kicad/lux/_resto*
kicad/lux/*sch
kicad/lux/.history
kicad/lux/~*
kicad/lux/_*
kicad/lux/sym-lib-table
kicad/remote/.history
kicad/remote/~*
kicad/remote/_*
kicad/drone/lux/~*
kicad/drone/lux/_*
kicad/drone/lux/.hi*
